<template name="set">
{{#with setData}}
  <div class="container">
      <p>{{setName}}</p>
      <p>Total Cards: {{numberOfCards}} of {{setSize}}</p>
      <p><a class="print-layout">Print Layout</a></p>
  </div>
  {{#if setData}}
    <div class="cards container">
      <a class="card-new" aria-hidden="true">Click </a>to add a card
      <!-- Cards Form -->
      {{#if newCard }}
        {{> cardNew}}
      {{/if }}
      <!-- Cards index -->
      {{> cards}}
      <!-- must only show cards from this set -->
    </div>
  {{/if }}
{{/with}}
</template>